*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
    box-sizing: border-box;
}
body{
    background: #000;
    color: white;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("images/header-image.png");
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}
@media (max-width: 768px) {
    body{
        width: 100%;
    }
    .header-content{
        padding: 10px;

        /* margin-bottom: 240px; */
        /* margin-top: 20px; */
    }
    .header-content h1{
        font-size: 35px;
        line-height: 0px;
    }
    .header-content h3{
        /* line-height: 0px; */
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 15px;
    }
    .header-content p{
        line-height: none;
        font-size: 10px;
    }
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    /* margin-left: 60px;
    margin-right: 60px; */
}
.logo{
    width: 150px;
    cursor: pointer;
}
nav button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    /* padding: 9px 20px; */
    /* font-weight: bold; */
    /* font-size: 14px; */
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}
.language-btn{
    display: inline-block;
    align-items: center;
    background: transparent;
    /* border: 2px solid #fff; */
    border: 1px solid #fff;
    padding: 7px 10px;
    border-radius: 6px;
}
/* .fa-language{
    margin: 0px 9px;
} */
.language-btn img{
    width: 10px;
    margin-left: 10px;
}
/* .signin-btn{
    height: 36px;
} */
.header-content{
    position: absolute;
    /* top: 35%; */
    top: 50%;
    /* left: 30%; */
    left: 50%;
    /* transform: translate(-20%,-30%); */
    width: 100%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;
    margin: 100px auto 0px auto;
}
.header-content h1{
    /* font-size: 50px; */
    font-size: 40px;
    line-height: 70px;
    /* font-weight: 799; */
    font-weight: 600;
}
.header-content h3{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 10px;
}
.header-content p{
    font-size: 20px;
    font-weight: 540;
}
.email-signup{
    /* background: #fff; */
    /* position: absolute; */
   display:inline-flex;
    align-items: center;
    flex-direction: row;
    /* justify-content: end; */
    gap: 10px;
    margin-top: 30px;
    /* margin-left: 30%;
    margin-right: 20%; */
    overflow: hidden;
    /* left: 50%; */
    top: 50%;
    right: 50%;
    
    /* background: transparent; */
}
.email-signup input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
    background: transparent;
    color: #fff;
    border: 1px solid grey;
    border-radius: 4px;
    /* border: 1px solid #fff; */
    font-size: 20px;
    padding: 15px 30px;
    width: 400px;
}
.email-signup button{
    transition: color 250ms cubic-bezier(0.5, 0, 0.1, 1) 0s;
    background: #db0001;
    border: 0;
    display: flex;
    flex-direction: row;
    outline: 0;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 4px;
    padding: 15px 25px;
    height: 55px;
}
@media (max-width:768px) {
    .email-signup{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 0px;
        margin-bottom: 140px;
    }
    .email-signup input{
        flex: 1;
        border: 0;
        outline: 0;
        margin-left: 10px;
        background: transparent;
        color: #fff;
        border: 1px solid grey;
        border-radius: 4px;
        /* border: 1px solid #fff; */
        font-size: 20px;
        padding: 10px 20px;
        width: 300px;
    }
    .email-signup button{
        height: 45px;
    }
}



/* ==========================features========================== */
/* .features{
    padding: 60px 12%;
    font-size: 22px;
}
.row{
    display: flex;
    width: 100%;
    /* flex-direction: row; */
    /* align-items: center;
    flex-wrap: wrap;
    padding: 60px 0px;
}

@media (max-width:768px) {
    .row{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 0px;
    }
    .text-col{
        text-align: center;
        margin-bottom: 50px;
        font-size: 20px;
    }
    .features h2{
        font-size: 40px;
        /* color: pink; */
    /* }
}
.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col img{
    display: block;
    width: 90%;
    margin: auto;
}
.features h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
/* } */ */ */ */

/* Default styles for features section */
.features {
    padding: 60px 12%;
    font-size: 22px;
  }
  
  .row {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px 160px;
  }
  
  .text-col {
    flex-basis: 50%;
    margin-bottom: 20px;
  }
  
  .img-col {
    flex-basis: 50%;
    margin-bottom: 20px;
  }
  
  .img-col img {
    display: block;
    width: 99%;
    margin: auto;
  }
  
  .features h2 {
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .features p{
    font-size: 30px;
  }
  
  /* Media query for screens 768px and below */
  @media (max-width: 768px) {
    .row {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px 30px;
    }
  
    .text-col {
      text-align: center;
      margin-bottom: 50px;
      font-size: 20px;
    }
  
    .img-col {
      flex-basis: 50%;
      margin-bottom: 20px;
    }
  
    /* Swap the order of .text-col and .img-col */
    .row .text-col {
      order: 1;
    }
  
    .row .img-col {
      order: 2;
    }
  
    .features h2 {
      font-size: 40px;
    }
    .features p{
        font-size: 25px;
    }
  }
  
/* ==========================FAQ========================== */
.faq{
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
}
.faq h2{
    font-weight: 1000;
    font-size: 45px;
}
.accordion{
    margin: 60px auto;
    width: 100%;
    max-width: 1750px;
}
.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.accordion li label{
    display: flex;
    align-items: center;
    height: 80px;
    padding: 20px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 2px;
    background: #303030;
    cursor: pointer;
    position: relative;
}
label::after{
    content:'+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transfor 0.5s;
}
input[type="radio"]{
    display: none;
}
.accordion .content{
    background: #303030;
    text-align: left;
    line-height: 35px;
    padding: 0px 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
.accordion input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}
.accordion input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}
.faq .email-signup{
    /* margin-left: 22%; */
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
}
.faq .email-signup input{
    background: transparent;
    color: #fff;
    border: 1px solid grey;
    border-radius: 4px;
}
@media (max-width:768px) {
    .faq .email-signup{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding: 0px 0px;
        gap: 20px;
    }
    .faq .email-signup input{
        width: 250px;
    }
}
.content p{
    font-size: 20px;
}
small{
    font-size: 20px;
}

/* ==========================FOOTER========================== */

.footer{
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: #777;
}

.footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}

.footer .col a{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}
.footer .row{
    align-items: flex-start;
    padding: 10px 0px;
}
.footer .language-btn{
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
}

.copyright-txt{
    font-size: 14px;
    margin-top: 14px;
    margin-bottom: 10px;
}

.border{
    padding: 80px 25% 10px;
    border-top: 7px solid #333;
    color: #777;
    width: 100%;
}

/* ==========================Responsive========================== */
/* 
@media only screen and (max-width:768px) {
    
} */













